version: '3'

services:
  web:
    hostname: apahe_srv
    image: php:7.2-apache
    container_name: mojordomo_web
    ports:
      - 80:80
    volumes:
      - ./src/web:/var/www/html
      - ./src/conf/php:/usr/local/etc/php
      - ./src/conf/httpd:/usr/local/apache2/conf
      - ./src/sh:/usr/local/sh
  db:
    hostname: mydatasql_srv
    image: mysql:5.6
    container_name: mojordomo_db
    ports:
      - 3306:3306
    volumes:
      - ../md-database:/var/lib/mysql
    environment:
      - MYSQL_DATABASE = db_mojordomo
      - MYSQL_USER = xackmaster
      - MYSQL_PASSWORD = QWERTY123!
      - MYSQL_ROOT_PASSWORD = QWERTY123!
  phpmyadmin:
    hostname: phpmyadmin_srv
    image: phpmyadmin/phpmyadmin
    container_name: mojordomo_phpmyadmin
    ports:
      - 8080:80
    volumes:
      - ./src/phpmyadmin:/www
    environment:
      - PMA_ARBITRARY = 1
      - PMA_HOST = mydatasql_srv
      - PMA_PORT = 3306
      - PMA_USER = xackmaster
      - PMA_PASSWORD = QWERTY123!
    depends_on:
      - db